 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre nós</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center"><strong>
                    <p>A 4flyers é uma startup que desenvolve soluções criativas e acessíveis de automação, além de desenvolver pesquisas com VANTs.</p></strong>
                </div>
                <div class="col-lg-12 text-center"><strong>
                    <p>QUEM</p></strong>
                </div>
                <div class="col-lg-12 text-center">
                    <p>Fundada em 2016, a 4 flyers é formada por alunos e ex-alunos de Engenharia de Controle e Automação com um interesse em comum: difundir a robótica no Brasil.</p>
                </div>
                <div class="col-lg-12 text-center"><strong>
                    <p>POR QUÊ</p></strong>
                </div>
                <div class="col-lg-10 text-center">
                    <p>Porque não transformar nosso hobby em produto? Queremos expandir o mercado de quadrotores no Brasil com novas idéias e novas aplicações.</p>
                </div>
            </div>
        </div>
    </section>

