 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                            <hr class="star-light">
                            {% if post.modal-id == 3 %}
                                <img src="img/portfolio/{{ post.img_on_post }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                <p>{{ post.description }}</p>
                            {% endif %}
                            {% if post.modal-id == 1 %}
                                <img src="img/portfolio/{{ post.img_on_post }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                <p>{{post.post_intro}}<p>
                                <strong><p>{{post.title_1}}<p></strong>
                                <p>{{post.descrip_1}}<p>
                                <strong><p>{{post.title_2}}<p></strong>
                                <p>{{post.descrip_2}}<p>
                                <strong><p>{{post.title_3}}<p></strong>
                                <p>{{post.descrip_3}}<p>
                                <strong><p>{{post.title_4}}<p></strong>
                                <p>{{post.descrip_4}}<p>
                                <strong><p>{{post.title_5}}<p></strong>
                                <p>{{post.descrip_5}}<p>
                            {% else %}
                                <p>{{post.post_intro}}<p>
                                <p>{{post.post_title_1}}<p></strong>
                                 <img src="img/Cursos4f/{{ post.img_1 }}" class="img-responsive img-centered" alt="{{ post.alt }}">   
                                <p>{{post.description_1}}<p>
                                <br>
                                <p>{{post.post_title_2}}<p></strong>
                                 <img src="img/Cursos4f/{{ post.img_2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">   
                                <p>{{post.description_2}}<p>
                                <br>
                                <p>{{post.post_title_3}}<p></strong>
                                <img src="img/Cursos4f/{{ post.img_3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">   
                                <p>{{post.description_3}}<p>
                                <br>
                                <p>{{post.post_title_4}}<p></strong>
                                <img src="img/Cursos4f/{{ post.img_4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">   
                                <p>{{post.description_4}}<p>
                            {% endif %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script type="text/javascript">
    <!--
    if
    //-->
    </script>
